.home__header {
  position: relative;
  text-align: center;
  background-color: #282c34;
  padding: 10px;
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
  color: #fffef3;
}

.home__logo {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  height: 90px;
}

.home__main {
  margin: 20px;
}

.home__footer {
  text-align: center;
  background-color: #282c34;
  padding: 10px;
  font-family: "Pacifico", cursive;
  color: #fffef3;
  position: fixed;
  width: 100%;
  bottom: 0;
}
